.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}
.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}
.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.order_form {
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  justify-content: center;
  width: 60%;

  padding: 1em;
}

.control {
  display: flex;
  justify-content: start;
  align-items: center;
}
.control label {
  font-weight: bold;
  margin-bottom: 0.5em;
  width: 30%;
}
.control input {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
  outline: none;
}
.control input:hover,
.control input :active {
  border-color: #8a2b06;
}

@media screen and (max-width: 760px) {
  .control {
    flex-direction: column;
    gap: 0.3em;
  }
  .control label {
    width: 100%;
  }

  .control input {
    width: 100%;
  }

  .order_form .actions {
    margin-top: 0.2em;
    display: flex;
    justify-content: start;
  }
}
