.summary{
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  margin: auto;
  padding: 1.1rem 1.8rem;

}
.summary h1{
  text-align: center;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.9);
}
.summary {
  color: rgba(255, 255, 255, 0.6);
}