.meal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(75, 12, 12);
}

.left h2{
  font-size: 28px;
}

.left p{
  margin: -1rem 0rem;
}

.left h4{
  color: #660909;
  font-size: 22px;
}
